<h1>Multi Linear Regression</h1>

In [232]:
import pandas as pd
import matplotlib.pyplot as plt

In [233]:
df = pd.read_csv('./House Data.csv')

In [234]:
df.head()

   Area  Bedrooms  Age   Price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Area        5 non-null int64
Bedrooms    5 non-null int64
Age         5 non-null int64
Price       5 non-null int64
dtypes: int64(4)
memory usage: 200.0 bytes

In [236]:
df.describe()

              Area  Bedrooms       Age          Price
count     5.000000  5.000000   5.00000       5.000000
mean   3280.000000  3.600000  18.20000  616000.000000
std     540.370243  0.894427   8.01249   83919.604384
min    2600.000000  3.000000   8.00000  550000.000000
25%    3000.000000  3.000000  15.00000  565000.000000
50%    3200.000000  3.000000  18.00000  595000.000000
75%    3600.000000  4.000000  20.00000  610000.000000
max    4000.000000  5.000000  30.00000  760000.000000

In [237]:
df.shape

(5, 4)

In [238]:
df.keys()

Index(['Area', 'Bedrooms', 'Age', 'Price'], dtype='object')

In [239]:
x = df[['Area', 'Bedrooms', 'Age']]
y = df['Price']

In [240]:
from sklearn.linear_model import LinearRegression # importing the model

In [241]:
data = LinearRegression()
data.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [242]:
m = data.coef_
m

array([   137.25, -26025.  ,  -6825.  ])

In [243]:
c = data.intercept_
c

383724.99999999994

In [244]:
data.predict([[1200, 4, 23]])

array([287350.])

In [245]:
m[0]*1200 + m[1]*4 +m[2]*23 +c

287350.0

<h1>From Another Data Set</h1>

In [246]:
df = pd.read_csv('./loanf.csv')

In [247]:
df.keys()

Index(['Interest.Rate', 'FICO.Score', 'Loan.Length', 'Monthly.Income',
       'Loan.Amount'],
      dtype='object')

In [248]:
x = df[['FICO.Score','Loan.Amount']].values
y = df['Interest.Rate'].values

In [249]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [250]:
m = model.coef_
m

array([-0.08844242,  0.00021075])

In [251]:
c = model.intercept_
c

72.8827983167691

In [252]:
model.predict([[800, 2000]])

array([2.55035611])

In [253]:
m[0]*800 + m[1]*2000 + c

2.5503561104684564

In [254]:
def InterestRatePredict(FICO, Loan):
    pred = model.predict([[FICO, Loan]])
    print('Interest rate for loan amount {a} with FICO Score {s} is:'.format(a=FICO, s=Loan), pred[0])

In [255]:
InterestRatePredict(100,20000)

Interest rate for loan amount 100 with FICO Score 20000 is: 68.25351146981122

In [256]:
from ipywidgets import interact

In [257]:
interact(InterestRatePredict, FICO = (100, 2000), Loan= (1000, 20000))

interactive(children=(IntSlider(value=1050, description='FICO', max=2000, min=100), IntSlider(value=10500, des…

<h1> Logistic Regression</h1>

In [258]:
df['TF'] = df["Interest.Rate"]<=17

In [259]:
X = x
Y = df['TF'].values

In [260]:
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

In [261]:
log_reg = LogisticRegression()
log_reg.fit(X,Y)
log_reg.predict_proba([[100, 200]])

array([[0.39941533, 0.60058467]])

In [262]:
def LoanPredict(FICO, Loan):    
    pred = log_reg.predict([[FICO, Loan]])
    print('Interest rate for loan amount {a} with FICO Score {s} is:'.format(a=FICO, s=Loan), pred[0])

In [263]:
LoanPredict(100,20000)

Interest rate for loan amount 100 with FICO Score 20000 is: False

In [264]:
from ipywidgets import interact

In [265]:
interact(LoanPredict, FICO = (100, 20000), Loan= (1000, 200000))

interactive(children=(IntSlider(value=10050, description='FICO', max=20000, min=100), IntSlider(value=100500, …

In [266]:
df['TF'].value_counts()

True     2032
False     468
Name: TF, dtype: int64

In [267]:
pred = log_reg.predict(X)
p = pd.DataFrame(pred)
p.head()

       0
0   True
1   True
2   True
3  False
4   True

In [268]:
p[0].value_counts()

True     2386
False     114
Name: 0, dtype: int64

In [269]:
from sklearn import metrics

In [270]:
cm = metrics.confusion_matrix(Y, pred)

In [271]:
cm

array([[  75,  393],
       [  39, 1993]], dtype=int64)

In [272]:
metrics.accuracy_score(Y, pred)

0.8272